.Container{
    display: flex;
    flex-direction: column;

    height: 100vh;
}

.Header{
    display: flex;

    width: 100%;

    justify-content: space-between;
    align-items: center;

    padding: 1rem;

    color: var(--var-White);
    background-color: var(--var-AzulOceano);
}

.Body{
    padding: 1rem;

    display: flex;  
    flex-direction: column;

    align-items: center;
    justify-content: center;

    height: 100vh;
}

.Body h1{
    color: var(--var-AzulOceano);
}

.Body h2{
    color: black;
}

.Form{
    display: flex;
    flex-direction: column;

    padding: 2rem;

    gap: 1rem;
    width: 40%;
}

.Footer{
    display: flex;
    
    justify-content: center;
    align-items: center;

    padding: 2rem;

    width: 100%;

    background-color: var(--var-Cinza);
}

.Footer h1{
    color: var(--var-Beje);
    font-size: 15px;
}