#Cotacao{
    cursor: pointer;

    border: 1px solid transparent;
    border-radius: 100px;
    background-color: transparent;
    backdrop-filter: blur(10px);

    padding: 20px;

    font-size: 20px;
    color: var(--var-White);
}

#Cliente{
    cursor: pointer;

    font-size: 20px;

    background-color: transparent;
    border: transparent;

    color: var(--var-White);
}

#Enviar{
    cursor: pointer;

    padding: 2rem;

    font-size: 20px;

    background-color: transparent;
    border: transparent;

    color: black;
}

.inputlabel{
    display: flex;
    flex-direction: column;

    text-align: left;
    align-items: center;
    justify-content: center;

    width: 100%;

    gap: .5rem;
}

.inputlabel input{
    width: 100%;

    border: none;
    border-bottom: 1px solid black;

    outline: none;
}

.inputlabel label{
    width: 100%;
}